shared/src/main/resources/ca/weblite/jdeploy/installer/schemas/uninstall-manifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://jdeploy.ca/uninstall-manifest/1.0"
           xmlns:tns="http://jdeploy.ca/uninstall-manifest/1.0"
           elementFormDefault="qualified">

    <xs:annotation>
        <xs:documentation>
            XML Schema for jDeploy Uninstall Manifest v1.0

            This schema defines the structure of uninstall manifests generated by the jDeploy installer.
            Each manifest tracks all installation artifacts (files, directories, registry entries, PATH modifications)
            needed for clean uninstallation.

            Manifest location: ~/.jdeploy/manifests/{arch}/{fullyQualifiedPackageName}/uninstall-manifest.xml
        </xs:documentation>
    </xs:annotation>

    <!-- Root Element -->
    <xs:element name="uninstallManifest" type="tns:UninstallManifestType"/>

    <!-- Main Types -->
    <xs:complexType name="UninstallManifestType">
        <xs:annotation>
            <xs:documentation>Root element of an uninstall manifest.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="packageInfo" type="tns:PackageInfoType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="files" type="tns:FilesType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="directories" type="tns:DirectoriesType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="registry" type="tns:RegistryType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="pathModifications" type="tns:PathModificationsType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="version" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Schema version (e.g., "1.0")</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Package Info Section -->
    <xs:complexType name="PackageInfoType">
        <xs:annotation>
            <xs:documentation>Metadata about the installed package.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Package name (e.g., "myapp")</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="source" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>GitHub source URL or null/empty for NPM packages</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="version" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Installed package version (semantic version)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fullyQualifiedName" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Computed FQPN: for NPM use name directly, for GitHub use {MD5(source)}.{name}</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="architecture" type="tns:ArchitectureType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>System architecture (x64 or arm64)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="installedAt" type="xs:dateTime" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>ISO 8601 timestamp when installed</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="installerVersion" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Version of jDeploy installer that created this manifest</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Architecture Type -->
    <xs:simpleType name="ArchitectureType">
        <xs:annotation>
            <xs:documentation>Supported system architectures</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="x64">
                <xs:annotation>
                    <xs:documentation>64-bit x86 architecture</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="arm64">
                <xs:annotation>
                    <xs:documentation>ARM 64-bit architecture</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <!-- Files Section -->
    <xs:complexType name="FilesType">
        <xs:annotation>
            <xs:documentation>Collection of files created during installation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="file" type="tns:FileType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Individual file to be removed during uninstall</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FileType">
        <xs:annotation>
            <xs:documentation>A file created during installation to be removed during uninstall.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="path" type="tns:PathType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Absolute path to the file (may contain variable references like ${USER_HOME})</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="type" type="tns:FileTypeEnum" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>File type classification</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Human-readable description of the file</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="FileTypeEnum">
        <xs:annotation>
            <xs:documentation>Classification of file types</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="binary">
                <xs:annotation>
                    <xs:documentation>Executable binary or library file</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="script">
                <xs:annotation>
                    <xs:documentation>Shell script or command wrapper</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="link">
                <xs:annotation>
                    <xs:documentation>Symbolic link or shortcut</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="config">
                <xs:annotation>
                    <xs:documentation>Configuration file (properties, INI, etc.)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="icon">
                <xs:annotation>
                    <xs:documentation>Icon image file</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="metadata">
                <xs:annotation>
                    <xs:documentation>Manifest, backup log, or other metadata</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <!-- Directories Section -->
    <xs:complexType name="DirectoriesType">
        <xs:annotation>
            <xs:documentation>Collection of directories created during installation. List in reverse depth order (deepest first).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="directory" type="tns:DirectoryType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Individual directory to be cleaned up during uninstall</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DirectoryType">
        <xs:annotation>
            <xs:documentation>A directory created during installation. Cleanup strategy determines how it will be handled.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="path" type="tns:PathType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Absolute path to the directory (may contain variable references)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="cleanup" type="tns:CleanupStrategyType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Strategy for cleaning up this directory</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Human-readable description of the directory</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="CleanupStrategyType">
        <xs:annotation>
            <xs:documentation>Strategy for cleaning up a directory</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="always">
                <xs:annotation>
                    <xs:documentation>Delete directory and all contents unconditionally</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ifEmpty">
                <xs:annotation>
                    <xs:documentation>Delete only if empty after file removal</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="contentsOnly">
                <xs:annotation>
                    <xs:documentation>Delete contents but keep the directory itself</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <!-- Registry Section (Windows only) -->
    <xs:complexType name="RegistryType">
        <xs:annotation>
            <xs:documentation>Windows registry entries created or modified during installation. Platform-specific to Windows.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="createdKeys" type="tns:CreatedKeysType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Registry keys that were created and should be deleted</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="modifiedValues" type="tns:ModifiedValuesType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Registry values that were modified and should be restored</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CreatedKeysType">
        <xs:annotation>
            <xs:documentation>Collection of registry keys that were created during installation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="createdKey" type="tns:CreatedKeyType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A registry key to be deleted</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CreatedKeyType">
        <xs:annotation>
            <xs:documentation>A registry key created during installation, to be deleted during uninstall.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="root" type="tns:RegistryRootType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Registry root hive</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="path" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Registry key path (without root prefix, e.g., Software\jdeploy\myapp)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Human-readable description of the key</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ModifiedValuesType">
        <xs:annotation>
            <xs:documentation>Collection of registry values that were modified during installation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="modifiedValue" type="tns:ModifiedValueType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A registry value to be restored or deleted</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ModifiedValueType">
        <xs:annotation>
            <xs:documentation>A registry value modified during installation. On uninstall, restore to previousValue if it exists, otherwise delete.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="root" type="tns:RegistryRootType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Registry root hive</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="path" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Registry key path (without root prefix)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Value name (empty string for default/unnamed value)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="previousValue" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The original value before modification. If empty or absent, value didn't exist before.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="previousType" type="tns:RegistryValueTypeEnum" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Registry value type before modification</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Human-readable description of the value</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="RegistryRootType">
        <xs:annotation>
            <xs:documentation>Windows registry root hive</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="HKEY_CURRENT_USER">
                <xs:annotation>
                    <xs:documentation>HKEY_CURRENT_USER (HKCU) - per-user registry</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HKEY_LOCAL_MACHINE">
                <xs:annotation>
                    <xs:documentation>HKEY_LOCAL_MACHINE (HKLM) - system-wide registry (requires admin)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RegistryValueTypeEnum">
        <xs:annotation>
            <xs:documentation>Windows registry value types</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="REG_SZ">
                <xs:annotation>
                    <xs:documentation>String value</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REG_EXPAND_SZ">
                <xs:annotation>
                    <xs:documentation>Expandable string value (with environment variables)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REG_DWORD">
                <xs:annotation>
                    <xs:documentation>32-bit integer value</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REG_QWORD">
                <xs:annotation>
                    <xs:documentation>64-bit integer value</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REG_BINARY">
                <xs:annotation>
                    <xs:documentation>Binary data</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REG_MULTI_SZ">
                <xs:annotation>
                    <xs:documentation>Multiple string values</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <!-- Path Modifications Section -->
    <xs:complexType name="PathModificationsType">
        <xs:annotation>
            <xs:documentation>PATH modifications across different platforms and shells.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="windowsPaths" type="tns:WindowsPathsType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Windows registry PATH entries (HKCU\Environment\Path). Windows only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="shellProfiles" type="tns:ShellProfilesType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Unix/Linux/macOS shell profile configurations. Unix-like systems only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="gitBashProfiles" type="tns:GitBashProfilesType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Git Bash / MSYS2 profile configurations. Windows only.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="WindowsPathsType">
        <xs:annotation>
            <xs:documentation>Collection of Windows registry PATH entries.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="windowsPath" type="tns:WindowsPathType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A PATH entry to be removed from Windows registry</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="WindowsPathType">
        <xs:annotation>
            <xs:documentation>A directory path added to Windows user PATH via HKCU\Environment\Path registry value.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="addedEntry" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The absolute path that was added to PATH</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Description of the PATH entry</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ShellProfilesType">
        <xs:annotation>
            <xs:documentation>Collection of shell profile modifications (bash, zsh, etc.)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="shellProfile" type="tns:ShellProfileType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A shell profile line to be removed</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ShellProfileType">
        <xs:annotation>
            <xs:documentation>A line added to a shell configuration file (~/.bashrc, ~/.zprofile, etc.)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="file" type="tns:PathType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Path to the shell profile file (e.g., ~/.bashrc)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="exportLine" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The exact line that was added (for removal)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Description of the profile modification</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GitBashProfilesType">
        <xs:annotation>
            <xs:documentation>Collection of Git Bash / MSYS2 profile modifications.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="gitBashProfile" type="tns:GitBashProfileType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A Git Bash profile line to be removed</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GitBashProfileType">
        <xs:annotation>
            <xs:documentation>A line added to a Git Bash configuration file.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="file" type="tns:PathType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Path to the Git Bash profile file (e.g., ~/.bash_profile)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="exportLine" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The exact line that was added (for removal). Paths should use MSYS2 format (/c/Users/...)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Description of the profile modification</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Path Type with Variable Support -->
    <xs:simpleType name="PathType">
        <xs:annotation>
            <xs:documentation>
                Path with optional variable references.
                Supported variables:
                - ${USER_HOME}: User's home directory
                - ${JDEPLOY_HOME}: ~/.jdeploy directory
                - ${APP_DIR}: Installed app directory
                Variables are expanded at runtime, not at manifest creation time.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value=".*"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
